@{
    var title = "Model Viewer";
    ViewBag.Title = title;
}

@section scripts{
    <script src="~/Scripts/three/three.js"></script>
    <script src="~/Scripts/controls/TrackballControls.js"></script>
    <script src="~/Scripts/modelViewer/modelViewer.js"></script>
    <script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/modelViewer/chat.js"></script>
}

<h2>@title</h2>
<canvas id="modelViewerWebGLCanvas" width="900" height="500"></canvas>

<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion">
    </ul>
</div>