@model IEnumerable<MvcMovie.Models.Character>

@{
    ViewBag.Title = "Characters";
}

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
        var selwid = null;
        $("#selectable").selectable({
            selected: function (event, ui) {
                $(ui.selected).siblings().removeClass("ui-selected");
                var charId = $(ui.selected).children()[0].value;
                $("#CharacterDetails").load("/EveApi/CacheCharacterId", "characterid=" + charId);
                $("#CharacterDetails").css("visibility", "visible");
                $("#select_character").dialog("close");
                $("#CurrentCharacter").text("Current Character: " + charId);
                $.post("/EveApi/UpdateWalletJournal", { characterID: charId });

            }
        });

        $(function () {
            $("#select_character").dialog({
                autoOpen: false,
                dialogClass: "no-close",
                modal: true,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $("#open_character_dialog").click(function () {
                $("#select_character").dialog("open");
            });
        });

    </script>
}

@Styles.Render("~/Content/CharactersWebGrid.css", "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")

<div style="width: 200px; padding-bottom: 20px; border: solid 1px red;">
    <div id="CurrentCharacter">Current Character:</div>
    <a href="#" id="open_character_dialog" style="float: right;">Select Character</a>
</div>


@* Only fot tests *@
@*<div>
    <div id="CharacterDetails" style="width: 200px; border: solid 1px; visibility: hidden; margin-top: 10px; clear: right;">
    </div>
</div>*@

@* Character select dialog *@
<div id="select_character" title="Select Character" style="display: none; 1">
    <div id="selectable">
        @foreach (var m in Model)
        {
            <div class="ui-widget-content">
                @Html.Hidden("charid", m.characterID)
                @m.characterName
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Update", "UpdateCharacters")
    </div>
</div>

<div style="width: 960px;">
    <div id="left_overview" style="width: 550px; margin-right: 10px; float: left;">
        <div id="Balance" style="width: 550px; height: 300px; border: solid 1px blue; margin-bottom: 10px; margin-top: 10px;">
            Placeholder for the balance chart
        </div>
        <div id="Balance2" style="width: 550px; height: 300px; border: solid 1px blue; margin-bottom: 10px; margin-top: 10px">
            Placeholder for the balance chart 2
        </div>
    </div>
    <div id="right_overview" style="width: 366px; margin-left: 10px; float: left">
        <div id="Transactions" style="width: 366px; height: 610px; border: solid 1px green; margin-bottom: 10px; margin-top: 10px">
            Placeholder for Transaction summary
        </div>
    </div>
    <div style="clear: left"></div>
</div>
