@{
    ViewBag.Title = "Characters";
}

@section requirejs{
    <script data-main="Scripts/eveapi/main" src="Scripts/require.js"></script>    
}

@section Scripts{
    <script type="text/javascript">
        require.config({
            paths: {
                jquery: '../jquery-2.0.3'
            }
        });
        require(['main', 'jquery'], function () {
            // update tables link
            $("#update_tables").click(function () {
                //if (characterManager != null && characterManager.getCharacterId() != null) {
                //    var progressbar = $("#progressbar");
                //    var that = $(this);
                //    that.css("display", "none");
                //    progressbar.css("display", "block");

                //    $.post("/EveApi/UpdateWalletTransactions", { characterID: characterManager.getCharacterId() })
                //        .complete(function () {
                //            updateStats(characterManager.getCharacterId());
                //            updateCharts(characterManager.getCharacterId());
                //            progressbar.css("display", "none");
                //            that.css("display", "block");
                //        });
                //}
            });
        });
    </script>
}

@Styles.Render("~/Content/CharactersWebGrid.css", "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")

<div id="character_display"></div>

<div style="width: 960px;">
    <div id="left_overview" style="width: 550px; margin-right: 10px; float: left;">
        <div id="Balance" style="width: 550px; height: 300px; border: solid 1px blue; margin-bottom: 10px; margin-top: 10px;"></div>
        <div id="Balance2" style="width: 550px; height: 300px; border: solid 1px blue; margin-bottom: 10px; margin-top: 10px"></div>
    </div>
    <div id="right_overview" style="width: 366px; margin-left: 10px; float: left">
        <div id="Transactions" style="width: 366px; height: 610px; border: solid 1px green; margin-bottom: 10px; margin-top: 10px"></div>
    </div>
    <div style="clear: left"></div>
</div>

<div id="update_tables" class="a">
    Update Tables
</div>
<div id="progressbar" style="display: none;">
    Loading...
</div>
