@{
    ViewBag.Title = "Characters";
}

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/eveapi/CharacterManager.js"></script>
    <script src="~/Scripts/eveapi/eveapi-0.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var TransactionChart = null,
                characterManager = null;

            function drawRightChart(data) {
                if (TransactionChart == null) {
                    TransactionChart = EveApiChart.WalletChart(document.getElementById('right_overview'), data);
                } else {
                    TransactionChart.addData(data);
                }
            };

            function getDataFromEveServer() {
                var charId = $("#character_id").val();
                //$.post("/EveApi/UpdateWalletJournal", { characterID: charId });
                $.post("/EveApi/UpdateWalletTransactions", { characterID: charId });
            };

            // Get new transcations from the database.
            function updateCharts(charId) {
                $.post("/EveApi/GetTransactions", "characterid=" + charId, function (data) {
                    drawRightChart(data);
                });
            };

            // Get statistics
            function updateStats(charId) {
                $('#Balance').load("EveApi/GetStats", { characterId: charId });
            };

            function updateBalance(charId) {
                $('#Balance2').load("EveApi/GetBalance", { characterId: charId });
            };

            $("#character_display").load("EveApi/SelectCharacter", function () {
                characterManager = new CharacterManager();
                characterManager.addSelectionCallback(updateStats);
                characterManager.addSelectionCallback(updateCharts);
                characterManager.addSelectionCallback(updateBalance);
            });

            // update tables link
            $("#update_tables").click(function () {
                if (characterManager != null && characterManager.getCharacterId() != null) {
                    var progressbar = $("#progressbar");
                    var that = $(this);
                    that.css("display", "none");
                    progressbar.css("display", "block");

                    $.post("/EveApi/UpdateWalletTransactions", { characterID: characterManager.getCharacterId() })
                        .complete(function () {
                            updateStats(characterManager.getCharacterId());
                            updateCharts(characterManager.getCharacterId());
                            progressbar.css("display", "none");
                            that.css("display", "block");
                        });
                }
            });
        });
    </script>
}

@Styles.Render("~/Content/CharactersWebGrid.css", "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")

<div id="character_display"></div>

<div style="width: 960px;">
    <div id="left_overview" style="width: 550px; margin-right: 10px; float: left;">
        <div id="Balance" style="width: 550px; height: 300px; border: solid 1px blue; margin-bottom: 10px; margin-top: 10px;"></div>
        <div id="Balance2" style="width: 550px; height: 300px; border: solid 1px blue; margin-bottom: 10px; margin-top: 10px"></div>
    </div>
    <div id="right_overview" style="width: 366px; margin-left: 10px; float: left">
        <div id="Transactions" style="width: 366px; height: 610px; border: solid 1px green; margin-bottom: 10px; margin-top: 10px"></div>
    </div>
    <div style="clear: left"></div>
</div>

<div id="update_tables" class="a">
    Update Tables
</div>
<div id="progressbar" style="display: none;">
    Loading...
</div>
