@{
    ViewBag.Title = "Characters";
}

@section requirejs{
    @*<script data-main="Scripts/eveapi/main" src="Scripts/require.js"></script>*@
    <script data-main="Scripts/eveapi/build/main-build" src="Scripts/require.js"></script>
}

@Styles.Render("~/Content/CharactersWebGrid.css", "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")

<div id="character_display"></div>

<div id="charts_container" class="charts_container">
    <div id="eve_stats"></div>
</div>

<div id="update_tables" class="a" style="width: 200px; margin: 2px;">
    Update Tables
</div>
<div id="progressbar" style="display: none;">
    Loading...
</div>

<script type="text/javascript">
    require.config({
        baseUrl: '../Scripts',
        paths: {
            jquery: 'jquery-2.0.3'
        }
    });
    require(['jquery'], function () {
        $('#update_tables').mouseover(function (event) {
            //$(this).css('background-color', '#f5d943');
        });
        $('#update_tables').mouseout(function (event) {
            //$(this).css('background-color', '#e27575');
        });
    });
</script>
