@{
    ViewBag.Title = "About me";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Hallo,
        My name is Eugen Dundukov
    </p>
</article>

<aside>
    <img src="~/Content/images/Profilfoto.JPG" style="width: 100%; height: auto;" />
    <div>
        <p>
            <span class="label">Email:</span>
            <span><a href="mailto:eugendun@gmail.com">eugendun@gmail.com</a></span>
        </p>
    </div>
</aside>
