@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Hier ensteht gerade eine frische Webseite.
            </p>
        </div>
    </section>
}
<h3>Projekte:</h3>
<ol class="round">
    <li class="one">
        <h5>Motion Tracking</h5>
        Dies ist eine 
    </li>
</ol>
